#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Amazon Storywriter
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=hmcnhpcghhifadgblhkonelnmbenkeep
Icon=chrome-hmcnhpcghhifadgblhkonelnmbenkeep-Default
StartupWMClass=crx_hmcnhpcghhifadgblhkonelnmbenkeep
OnlyShowIn=Old;
