"*":
  Hydrogen:
    gateways: '''
      [{
          "name": "Remote notebook",
          "options": {
                  "baseUrl": "http://localhost:8888"
          }
      }]
    '''
    kernelspec: '''
      {
        "kernelspecs": {
          "python3": {
            "spec": {
              "language": "python",
              "argv": [
                "/home/nikke/anaconda3/bin/python",
                "-m",
                "ipykernel",
                "-f",
                "{connection_file}"
              ],
              "display_name": "Python 3",
              "env": {}
            },
            "resource_dir": "/home/nikke/anaconda3/lib/python3.5/site-packages/ipykernel/resources"
          }
        }
      }
      
    '''
  core:
    autoHideMenuBar: true
  editor:
    fontFamily: "RictyDiminishedDiscord-Regular"
    fontSize: 18
  "exception-reporting":
    userId: "be994fac-a8ca-76b8-72d2-a069ad07656d"
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
  "tree-view": {}
  welcome:
    showOnStartup: false
