[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-wine-extension-crds;
Exec=env WINEPREFIX="/home/nikke/.wine" wine start /ProgIDOpen Microsoft.WindowsCardSpaceBackup %f
NoDisplay=true
StartupNotify=true
Icon=1CD8_rundll32.0
